In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sqlalchemy import create_engine
from sklearn.preprocessing import StandardScaler
import warnings

In [2]:
engine = create_engine('mysql+pymysql://root:alina2002@localhost:3306/shop')

#рассчитываем размер выборки
Z = 1.96 # для уровня доверия 95%
p = 0.5 # предположим, что доля клиентов, закупающихся в определенном отделе, равна 50%
E = 0.005 # допустимая погрешность
n = int(np.ceil((Z**2 * p * (1-p)) / E**2))
random_state = 42

day_time = 'Утро/День'

query = f'''
select cardId as Клиент, lev_5_name as Отдел, 
sales as Количество, salesRub as Сумма, lev_1_name as Товар, 
(case
when hour(timeId) between 4 and 16 then 'Утро/День' 
else 'Вечер/Ночь'
end) as Время_суток
from checks c
left join cards cd on c.LoyKarte = cd.LoyKarte
left join prod p on c.skuId = p.skuId
having Время_суток = '{day_time}'
limit 2000000'''

with warnings.catch_warnings(record = True):
    warnings.simplefilter("always")
    chunk_size = 100000  # загрузка данных порциями по 1 млн строк
    chunks = []
    for chunk in pd.read_sql(query, con=engine, chunksize=chunk_size):
        for department in chunk['Отдел'].unique():
    # выбираем только тех клиентов, которые закупаются в текущем отделе
            department_data = chunk[chunk['Отдел'] == department]
    
    # если в текущем отделе меньше n клиентов, то выбираем всех
            if len(department_data) < n:
                department_sample = department_data
            else:
        # выбираем случайную выборку размером n из текущего отдела
                department_sample = department_data.sample(n=n, random_state=random_state)
            chunk = pd.concat([chunk, department_sample])
        chunks.append(chunk)

    df = pd.concat(chunks)
df

In [36]:
df['Отдел'] = df['Отдел'].astype('category')
df['Отдел_номер'] = df['Отдел'].cat.codes
df

,Клиент,Отдел,Количество,Сумма,Товар,Время_суток,Отдел_номер
0,456851.0,ОТД БАКАЛЕЯ/КОНСЕРВЫ,1.000,57.9900,"КОРОТКОРЕЗ(РОЖ,УЛИТ)",Утро/День,4
1,456851.0,ОТД БАКАЛЕЯ/КОНСЕРВЫ,1.000,57.9900,"ДЛИННОРЕЗ(СПАГ,МАК)",Утро/День,4
2,500944.0,ОТД КОНДИТЕРСКИЕ ИЗДЕ,0.387,325.0760,КОНФ ШОКОЛАДНЫЕ ВЕС,Утро/День,7
3,500944.0,ОТД КОНДИТЕРСКИЕ ИЗДЕ,0.302,233.1410,КОНФ ШОКОЛАДНЫЕ ВЕС,Утро/День,7
4,331038.0,ОТД МЯСНОЙ ЦЕХ,0.154,70.8385,BAР КОЛБ-НAРЕЗКA(SB),Утро/День,12
...,...,...,...,...,...,...,...
86872,2190129.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
87826,347020.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
93751,567863.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3419.1000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
93767,305152.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
94700,355961.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2

In [133]:
df.to_csv('test_data.csv', index=False)

Промо 1

Найти завлекающий товар, который бы не увеличивал средний чек. Сделать это для каждого отдела

Промо 2

Рассмотреть отделы и товары, которые покупает тот или иной клиент. Выбрать товары, которые чаще всего покупают другие клиенты в этом отделе. Предложить клиенту 

Промо 3

Посмотреть, какие товары покупает клиент, в каких отделах. Предложить скидки на те товары, которые могли бы быть привлекательны из других отделов

## Привлекающее промо

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sqlalchemy import create_engine
from sklearn.preprocessing import StandardScaler
import warnings

In [2]:
df = pd.read_csv('test_data.csv')
df

,Клиент,Отдел,Количество,Сумма,Товар,Время_суток,Отдел_номер
0,456851.0,ОТД БАКАЛЕЯ/КОНСЕРВЫ,1.000,57.9900,"КОРОТКОРЕЗ(РОЖ,УЛИТ)",Утро/День,4
1,456851.0,ОТД БАКАЛЕЯ/КОНСЕРВЫ,1.000,57.9900,"ДЛИННОРЕЗ(СПАГ,МАК)",Утро/День,4
2,500944.0,ОТД КОНДИТЕРСКИЕ ИЗДЕ,0.387,325.0760,КОНФ ШОКОЛАДНЫЕ ВЕС,Утро/День,7
3,500944.0,ОТД КОНДИТЕРСКИЕ ИЗДЕ,0.302,233.1410,КОНФ ШОКОЛАДНЫЕ ВЕС,Утро/День,7
4,331038.0,ОТД МЯСНОЙ ЦЕХ,0.154,70.8385,BAР КОЛБ-НAРЕЗКA(SB),Утро/День,12
...,...,...,...,...,...,...,...
3961156,2190129.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
3961157,347020.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
3961158,567863.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3419.1000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
3961159,305152.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2
3961160,355961.0,ОТД АКЦИЯ ФИШКА NF2,1.000,3799.0000,AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ,Утро/День,2

In [3]:
data = df[['Отдел_номер', 'Товар', 'Количество', 'Сумма']].groupby(['Отдел_номер', 'Товар']).sum().reset_index()

In [4]:
data = data[data['Товар'] != 'ПАКЕТЫ']
data

      Отдел_номер                 Товар  Количество      Сумма
0               0   ABAРИЙНЫЕ ПРИНAДЛЕЖ       106.0   62743.36
1               0     ABТОКОСМ Д/КУЗОBA       282.0  126655.26
2               0   ABТОКОСМ Д/ПЛ И РЕЗ        20.0    8293.82
3               0     ABТОКОСМ Д/СAЛОНA       454.0   98593.46
4               0    ABТОЭЛЕКТРОПРИБОРЫ       230.0  406347.00
...           ...                   ...         ...        ...
1315           25       ШBЕЙНЫЕ МAШИНКИ         8.0   30392.00
1316           25          ЭЛЕКТРО-ПЕЧИ        16.0  112866.10
1317           25  ЭЛЕКТРОГИРЛЯНД ВНУТР        22.0   10679.78
1318           25    ЭНЕРГОСБЕРЕГ ЛAМПЫ      1508.0   99786.60
1319           25             ЭПИЛЯТОРЫ         6.0   18394.00

[1319 rows x 4 columns]

In [5]:
def section(x):   
    data_section = data[data['Отдел_номер'] == x]
    popular_products = {}
    grouped_data = data_section.groupby('Товар').agg({'Количество': 'max', 'Сумма': 'min'})
    
    for product_id, row in grouped_data.iterrows():
        sales_count = row['Количество']
        price = row['Сумма']/row['Количество']

        # Фильтруем товары с высоким объемом продаж или популярностью
        if sales_count >= 1:
            # Добавим товар в словарь с его идентификатором, объемом продаж и ценой
            popular_products[product_id] = {'Количество': sales_count, 'Сумма': price}

    # Выведем список популярных товаров
    sorted_products = sorted(popular_products.items(), key=lambda x: x[1]['Количество'], reverse=True)
    
    # Выбираем самый дешевый и популярный товар
    if sorted_products:
        selected_product = min(sorted_products, key=lambda x: x[1]['Сумма'])
        print(f"{i+1}.Выбранный товар: {selected_product[0]} (Сумма: {round(selected_product[1]['Сумма'], 2)}, Объем продаж: {selected_product[1]['Количество']})")
    else:
        print("Нет популярных товаров с заданным пороговым значением")
    
    return ''

In [10]:
unique_departments = df[['Отдел', 'Отдел_номер']].drop_duplicates()
for i in range(0, 26):
    for department, department_number in zip(unique_departments['Отдел'], unique_departments['Отдел_номер']):
        if department_number == i:
            print(f" Отдел: {department}", section(i),'\n')

1.Выбранный товар: СЕМЕНA ОBОЩ КУЛЬТУР (Сумма: 4.24, Объем продаж: 83486.0)
 Отдел: ОТД ABТОПРИНAДЛЕЖНОСТИ

2.Выбранный товар: AКЦ ЛОЯЛ ЭЛЕКТРОТОB (Сумма: 1130.84, Объем продаж: 906.0)
 Отдел: ОТД АКЦИЯ ФИШКА NF1

3.Выбранный товар: AКЦИЯ ЛОЯЛ ТЕКСТИЛЬ (Сумма: 3886.39, Объем продаж: 92.0)
 Отдел: ОТД АКЦИЯ ФИШКА NF2

4.Выбранный товар: РОССИЯ И СНГ (Сумма: 99.32, Объем продаж: 66.0)
 Отдел: ОТД АЛКОГОЛЬ

5.Выбранный товар: ПАНИРОВКА (Сумма: 16.82, Объем продаж: 6862.0)
 Отдел: ОТД БАКАЛЕЯ/КОНСЕРВЫ

6.Выбранный товар: АЗИЯ-ВОК-ГРИЛЬ ПН (Сумма: 0.19, Объем продаж: 4.0)
 Отдел: ОТД ГАСТРОНОМИЯ

7.Выбранный товар: ТЕТРАДИ А5 18 ЛИСТОВ (Сумма: 7.01, Объем продаж: 20372.0)
 Отдел: ОТД ИГРЫ/КАНЦТОВ

8.Выбранный товар: ЖЕВАТЕЛЬНАЯ РЕЗИНКА (Сумма: 22.67, Объем продаж: 15672.0)
 Отдел: ОТД КОНДИТЕРСКИЕ ИЗДЕ

9.Выбранный товар: СР Д/ГЛ,НАКРАХ,АНТИС (Сумма: 13.05, Объем продаж: 1122.0)
 Отдел: ОТД КОСМЕТИКА/БЫТ.ХИМ�

10.Выбранный товар: НЕКТAР (Сумма: 14.43, Объем продаж: 492.0)
 Отдел: ОТД МИР МАЛЫШЕЙ

11.Выбранный товар: ЙОГ-Т/ПУД ВЯЗК ТЕРМ (Сумма: 19.21, Объем продаж: 7200.0)
 Отдел: ОТД МОЛОЧНЫЕ ПРОД.

12.Выбранный товар: НАРЕЗКА (Сумма: 93.33, Объем продаж: 5590.0)
 Отдел: ОТД МЯСНАЯ ГАСТРОНОМИ

13.Выбранный товар: BAР КОЛБ/СОСИС(SHOP) (Сумма: 40.04, Объем продаж: 53824.34)
 Отдел: ОТД МЯСНОЙ ЦЕХ

14.Выбранный товар: СОКИ/НЕКТАРЫ МЛ ПЭТ (Сумма: 16.01, Объем продаж: 9650.0)
 Отдел: ОТД НАПИТКИ

15.Выбранный товар: ШНУРКИ (Сумма: 73.41, Объем продаж: 168.0)
 Отдел: ОТД ОБУBЬ/ДОРОЖНЫЙ АСС

16.Выбранный товар: СВЕКЛА (Сумма: 23.96, Объем продаж: 85250.228)
 Отдел: ОТД ОВОЩИ/ФРУКТЫ

17.Выбранный товар: БУЛОЧКИ ЛН (Сумма: 40.99, Объем продаж: 13132.0)
 Отдел: ОТД ПЕКАРНЯ

18.Выбранный товар: МОРОЖЕНОЕ ЭСКИМО (Сумма: 42.0, Объем продаж: 1662.0)
 Отдел: ОТД ПТИЦА/ЗАМОРОЖЕННЫ

19.Выбранный товар: МАСЛО/ПАШТЕТЫ (Сумма: 48.94, Объем продаж: 3268.0)
 Отдел: ОТД РЫБНЫЙ РЯД

20.Выбранный товар: СУШИ ЛН (Сумма: 366.1, Объем продаж: 3396.0)
 Отдел: ОТД СУШИ

21.Выбранный товар: МОРКОВЬ ПО-КОР ФАС (Сумма: 33.65, Объем продаж: 7110.0)
 Отдел: ОТД СЫРЫ/САЛАТЫ/ПОЛУФ�

22.Выбранный товар: ДЕТ ГОЛЬФЫ/НОСКИ (Сумма: 57.13, Объем продаж: 1660.0)
 Отдел: ОТД ТЕКСТИЛЬ

23.Выбранный товар: BЕШAЛКИ ПЛAСТИК (Сумма: 14.18, Объем продаж: 410.0)
 Отдел: ОТД ТОВАРЫ Д/ ДОМА

24.Выбранный товар: ИЗДЕЛИЯ СДОБНЫЕ (Сумма: 21.56, Объем продаж: 6154.0)
 Отдел: ОТД ХЛЕБ/ТОРТЫ

25.Выбранный товар: Б/ГЛЮТЕНА ХЛЕБЦЫ (Сумма: 32.81, Объем продаж: 1860.0)
 Отдел: ОТД ЭКО БИО ВЕГАН

26.Выбранный товар: СТAНД ЛAМПЫ НAК Е27 (Сумма: 27.89, Объем продаж: 1078.0)
 Отдел: ОТД ЭЛЕКТРОТОВАРЫ

C:\Users\USER\AppData\Local\Temp\ipykernel_10524\155750426.py:8: RuntimeWarning: invalid value encountered in double_scalars
  price = row['Сумма']/row['Количество']
C:\Users\USER\AppData\Local\Temp\ipykernel_10524\155750426.py:8: RuntimeWarning: invalid value encountered in double_scalars
  price = row['Сумма']/row['Количество']